In [2]:
import kagglehub

# Download latest version
path = kagglehub.dataset_download("imdevskp/corona-virus-report")

print("Path to dataset files:", path)

c:\Users\saura\AppData\Local\Programs\Python\Python310\lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

Downloading from https://www.kaggle.com/api/v1/datasets/download/imdevskp/corona-virus-report?dataset_version_number=166...

100%|██████████| 19.0M/19.0M [00:06<00:00, 3.23MB/s]

Extracting files...

Path to dataset files: C:\Users\saura\.cache\kagglehub\datasets\imdevskp\corona-virus-report\versions\166

In [22]:
import pandas as pd
import os
files=os.listdir(path)
print(files)
path_to_file = path+"/"+files[5]
df=pd.read_csv(path_to_file)

['country_wise_latest.csv', 'covid_19_clean_complete.csv', 'day_wise.csv', 'full_grouped.csv', 'usa_county_wise.csv', 'worldometer_data.csv']

In [23]:
df

,Country/Region,Continent,Population,TotalCases,NewCases,TotalDeaths,NewDeaths,TotalRecovered,NewRecovered,ActiveCases,"Serious,Critical",Tot Cases/1M pop,Deaths/1M pop,TotalTests,Tests/1M pop,WHO Region
0,USA,North America,3.311981e+08,5032179,NaN,162804.0,NaN,2576668.0,NaN,2292707.0,18296.0,15194.0,492.0,63139605.0,190640.0,Americas
1,Brazil,South America,2.127107e+08,2917562,NaN,98644.0,NaN,2047660.0,NaN,771258.0,8318.0,13716.0,464.0,13206188.0,62085.0,Americas
2,India,Asia,1.381345e+09,2025409,NaN,41638.0,NaN,1377384.0,NaN,606387.0,8944.0,1466.0,30.0,22149351.0,16035.0,South-EastAsia
3,Russia,Europe,1.459409e+08,871894,NaN,14606.0,NaN,676357.0,NaN,180931.0,2300.0,5974.0,100.0,29716907.0,203623.0,Europe
4,South Africa,Africa,5.938157e+07,538184,NaN,9604.0,NaN,387316.0,NaN,141264.0,539.0,9063.0,162.0,3149807.0,53044.0,Africa
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
204,Montserrat,North America,4.992000e+03,13,NaN,1.0,NaN,10.0,NaN,2.0,NaN,2604.0,200.0,61.0,12220.0,NaN
205,Caribbean Netherlands,North America,2.624700e+04,13,NaN,NaN,NaN,7.0,NaN,6.0,NaN,495.0,NaN,424.0,16154.0,NaN
206,Falkland Islands,South America,3.489000e+03,13,NaN,NaN,NaN,13.0,NaN,0.0,NaN,3726.0,NaN,1816.0,520493.0,NaN
207,Vatican City,Europe,8.010000e+02,12,NaN,NaN,NaN,12.0,NaN,0.0,NaN,14981.0,NaN,NaN,NaN,Europe
208,Western Sahara,Africa,5.986820e+05,10,NaN,1.0,NaN,8.0,NaN,1.0,NaN,17.0,2.0,NaN,NaN,Africa

In [32]:
df.shape

(209, 16)

In [24]:
df["Continent"].nunique()

6

In [25]:
df["Continent"].unique()

array(['North America', 'South America', 'Asia', 'Europe', 'Africa',
       'Australia/Oceania', nan], dtype=object)

In [36]:
df[df["Country/Region"]=="India"]["TotalCases"]

2    2025409
Name: TotalCases, dtype: int64

In [35]:
df[df["Country/Region"]=="India"]["TotalRecovered"]

2    1377384.0
Name: TotalRecovered, dtype: float64

In [38]:
df[df["Country/Region"]=="Russia"]["TotalCases"]

3    871894
Name: TotalCases, dtype: int64

In [39]:
df[df["Country/Region"]=="Russia"]["TotalRecovered"]

3    676357.0
Name: TotalRecovered, dtype: float64

In [50]:
import pandas as pd
import os
files=os.listdir(path)
print(files)
path_to_file = path+"/"+files[3]
df_day=pd.read_csv(path_to_file)

['country_wise_latest.csv', 'covid_19_clean_complete.csv', 'day_wise.csv', 'full_grouped.csv', 'usa_county_wise.csv', 'worldometer_data.csv']

In [51]:
df_day

,Date,Country/Region,Confirmed,Deaths,Recovered,Active,New cases,New deaths,New recovered,WHO Region
0,2020-01-22,Afghanistan,0,0,0,0,0,0,0,Eastern Mediterranean
1,2020-01-22,Albania,0,0,0,0,0,0,0,Europe
2,2020-01-22,Algeria,0,0,0,0,0,0,0,Africa
3,2020-01-22,Andorra,0,0,0,0,0,0,0,Europe
4,2020-01-22,Angola,0,0,0,0,0,0,0,Africa
...,...,...,...,...,...,...,...,...,...,...
35151,2020-07-27,West Bank and Gaza,10621,78,3752,6791,152,2,0,Eastern Mediterranean
35152,2020-07-27,Western Sahara,10,1,8,1,0,0,0,Africa
35153,2020-07-27,Yemen,1691,483,833,375,10,4,36,Eastern Mediterranean
35154,2020-07-27,Zambia,4552,140,2815,1597,71,1,465,Africa
35155,2020-07-27,Zimbabwe,2704,36,542,2126,192,2,24,Africa

In [52]:
india_covid_data = df_day[df_day["Country/Region"]=="India"]
india_covid_data

,Date,Country/Region,Confirmed,Deaths,Recovered,Active,New cases,New deaths,New recovered,WHO Region
79,2020-01-22,India,0,0,0,0,0,0,0,South-East Asia
266,2020-01-23,India,0,0,0,0,0,0,0,South-East Asia
453,2020-01-24,India,0,0,0,0,0,0,0,South-East Asia
640,2020-01-25,India,0,0,0,0,0,0,0,South-East Asia
827,2020-01-26,India,0,0,0,0,0,0,0,South-East Asia
...,...,...,...,...,...,...,...,...,...,...
34300,2020-07-23,India,1288108,30601,817209,440298,49310,740,34602,South-East Asia
34487,2020-07-24,India,1337024,31358,849432,456234,48916,757,32223,South-East Asia
34674,2020-07-25,India,1385635,32060,885573,468002,48611,702,36141,South-East Asia
34861,2020-07-26,India,1435616,32771,917568,485277,49981,711,31995,South-East Asia
35048,2020-07-27,India,1480073,33408,951166,495499,44457,637,33598,South-East Asia

In [ ]:
india_covid_data.groupby["Day_Name"]["New Cases"].mean()

TypeError: 'method' object is not subscriptable